extends layout

block content
    .frontpage
        h1= title
        p Welcome to #{title}
        p.button
            a(href="/attached") Devices list
        p.button
            a(href="/heatmap") Heatmap
