body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#canvasContainer{
    position: relative;
}
.router-img{
    position: absolute;
    left: 370px;
    top: 270px;
}
#canv{
    border:1px #CCC solid;
}
#recivedpackageInfo{
    position: absolute;
    left: 50%;
}