body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.canvasContainer{
    position: relative;
}
.router-img{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 170px;
}
.heatmap{
    border:1px #CCC solid;
    height: 400px;
    width: 533px;

}
#recivedpackageInfo{
    position: absolute;
    left: 50%;
}