body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pull-right a {
    color: white;
}

.canvasContainer{
    position: relative;
}
.router-img{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 170px;
}
.heatmap{
    border:1px #CCC solid;
    height: 400px;
    width: 533px;

}
#recivedpackageInfo{
    position: absolute;
    left: 50%;
}

.router div {
    height: 300px;
    overflow: scroll;
}

.glyphicon {
    padding: 10px;
}

.title {
    background-color: #8e91bf;
}

.frontpage {
    text-align: center;
    margin-top: 150px;
}

.frontpage .button {
    background-color: #8e91bf;
    padding: 20px;
    width: 200px;
    margin: 10px auto;
    font-size: 20px;
}

.frontpage .button a {
    color: white;
}
